
 * {
    border: 1px solid red; /*!important*/
    font-family:'Nebulax';
}

:root {
  --couleur-principale: #0DCAF0;
  --couleur-secondaire: #73BFB8;
}

@font-face {
    font-family: 'Nebulax';
    src: url('/assets/Nebulax-3lqLp.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    
}

/*------------------------------------------------------------*/

div.container {
    width:100vw;
    height:100vh;
    margin: 0;
    padding: 0;
}

.container {
    display:grid;
    grid-template-columns: repeat(16,1fr); /*chaque case occupe meme espace*/
    grid-template-rows: repeat(9,1fr); /*au lieu écrire 200px 200px*/
    grid-gap: 1rem;
}



.item-1 /*numero creature*/ {
    grid-area: 1 / 1 / 2 / 17; /*row start / col start / row end / col end*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


p {
  margin: 0;
  font-size: 2rem;
}

.txt {
  width: 33dvw;
  text-align: right;
  width:100%
}


.item-2 /*bio stats*/ {
    grid-area: 2 / 1 / 5 / 7; 
    display: flex;
    align-items: center;
    
    
}

/*.item-2 p {
    text-align: right;
}*/


.item-3 /*image creature*/ {
    grid-area: 2 / 7 / 6 / 11; 
}

img {
  width: 100%;
  opacity : 80%;
}


.item-4 /*infos creature*/{
    grid-area: 2 / 11 / 6 / 17; 
    
}

.clock {
  width: 200px;
  height: 200px;
  background: var(--couleur-principale);
  border-radius: 50%;
  margin: 50px auto;
}


.item-5 /*emotions*/ {
    grid-area: 5 / 1 / 6 / 7; 
    
}

.item-6 /*adn*/ {
    grid-area: 6 / 1 / 10 / 4; 
    
}

.item-7 /*empreinte*/{
    grid-area: 6 / 4 / 9 / 7;
    
}

.item-8 /*population*/{
    grid-area: 6 / 7 / 10 / 11;
    
}

.item-9 /*habitat map*/ {
    grid-area: 6 / 11 / 10 / 17;
    display: flex;
    align-items: center;
    
}

#carte {
    width:100%;
    height:70%;
    opacity:80%;
}

.rotate-left, .rotate-right {
  float: left; /* ou right selon besoin */
  height: 98%;
  overflow: hidden;
  writing-mode: horizontal-tb; /* texte horizontal */
  white-space: nowrap;          /* pour ne pas passer à la ligne */
}

.flow-content {
  display: inline-flex;
  overflow: hidden; /* couper le texte qui dépasse */
}

.float-content-left {
  animation: 12s flow-left linear infinite;
}

.float-content-right {
  animation: 12s flow-right linear infinite;
}

.flow-content span {
  font-size: 1vw;
  margin-left: 30px; /* espace entre éléments */
}

/* animation horizontale */
@keyframes flow-left {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@keyframes flow-right {
  0%   { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.item-10 /*bruit*/{
    grid-area: 9 / 4 / 10 / 7;
    
}
/*------------------------------------------------------------*/

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color:var(--couleur-principale);
}

input:checked + .slider:before {
  transform: translateX(23px);
}

/* Mode sombre */
body.night-mode {
  background-color: #123340;
  color:var(--couleur-principale);
  transition: background-color 0.4s, color 0.4s;
}



