* {
  /*border: 1px solid red; /*!important*/
  font-family: "Nebulax";
}

:root {
  --couleur-principale: #0dcaf0;
  --couleur-secondaire: #73bfb8;
  --transition: 300ms linear;
}

@font-face {
  font-family: "Nebulax";
  src: url("/assets/Nebulax-3lqLp.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: #000;
  transition: color 0.4s;
}

body.night-mode {
  background-color: #123340;
  color: var(--couleur-principale);
  transition: background-color 0.4s, color 0.4s;
}

/*------------------------------------------------------------*/

.container {
  display: grid;
  grid-template-columns: repeat(16, 1fr); /*chaque case occupe meme espace*/
  grid-template-rows: repeat(9, 1fr); /*au lieu écrire 200px 200px*/
  grid-gap: 1vw;
  width: 100vw;
  height: 100vh;
}

.item {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 1rem;
  overflow: hidden;
}

/*------------------------------item 1----------------------------------------------*/
.item-1 /*numero creature*/ {
  grid-area: 1 / 1 / 2 / 17; /*row start / col start / row end / col end*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--couleur-principale);
}

input:checked + .slider:before {
  transform: translateX(23px);
}

/*------------------------------item 2----------------------------------------------*/
.item-2 /*bio stats*/ {
  grid-area: 2 / 1 / 5 / 7;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.adres {
  width: 100%;
  min-height: 50px;
  text-align: center;
  font-size: 18px;
}

#heart-rate {
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
}

/*------------------------------item 3----------------------------------------------*/
.item-3 /*image creature*/ {
  grid-area: 2 / 7 / 6 / 11;
}

img {
  width: 100%;
  height: auto;
  opacity: 80%;
}

/*------------------------------item 4----------------------------------------------*/
.item-4 /*infos creature*/ {
  grid-area: 2 / 11 / 6 / 17;
}

.subitem-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
}

.subitem-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
}

.half.col {
  width: 100%;
  height: auto;
} /*current time*/

.horloge {
  position: relative;
  width: 5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
}

.fleche,
.seconde,
.aiguille {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.5rem;
  height: 45%;
  margin: -0.25vmax 0 0 -0.25vmax;
  background: currentColor;
  transform-origin: 50% 5%;
}

.zdog-canvas {
  border: 1px dotted var(--couleur-principale);
  width: 40%;
  aspect-ratio: 1 / 1;
  display: block;
}

/*------------------------------item 5----------------------------------------------*/

.item-5 /*emotions*/ {
  grid-area: 5 / 1 / 6 / 7;
}

/*------------------------------item 6----------------------------------------------*/

.item-6 /*adn*/ {
  grid-area: 6 / 1 / 10 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.item-6 video {
  width: 100%;
  height: 80%;
  object-fit: cover;
  opacity: 80%;
}

/*------------------------------item 7----------------------------------------------*/
.item-7 /*empreinte*/ {
  grid-area: 6 / 4 / 9 / 7;
  width: 100%;
}

/*------------------------------item 8----------------------------------------------*/

.item-8 /*population*/ {
  grid-area: 6 / 7 / 10 / 11;
}

/*------------------------------item 9----------------------------------------------*/

.item-9 /*habitat map*/ {
  grid-area: 6 / 11 / 10 / 17;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  /*width: 100%;*/
}

#carte {
  width: 100%;
  height: 80%;
  opacity: 80%;
  border: 3px dotted var(--couleur-principale);
}

.rotate-right {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid var(--couleur-principale);
  margin-top: auto;
}

.flow-content {
  display: inline-flex;
  overflow: hidden;
}

.float-content-right {
  animation: 30s flow-right linear infinite;
}

.flow-content span {
  font-size: 1vw;
  margin-left: 30px;
}

/* animation horizontale */
@keyframes flow-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*-------------target--------------------------------------------------------------------*/

.hrline,
.vrline {
  pointer-events: none;
  height: 3px;
  background-color: var(--couleur-principale);
  width: 300%;
  position: absolute;
  transition: var(--transition);
  transform: translate(-50%, -50%);
}
.vrline {
  transform-origin: left;
  rotate: (90deg);
}
.target {
  pointer-events: none;
  width: 50px;
  aspect-ratio: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: var(--transition);
}
.corner {
  position: absolute;
  width: 15px;
  height: 15px;
  scale: 1;
}
.corner:nth-child(1) {
  top: 0;
  left: 0;
  border-top: 2px solid var(--couleur-principale);
  border-left: 2px solid var(--couleur-principale);
}
.corner:nth-child(2) {
  top: 0;
  right: 0;
  border-top: 2px solid var(--couleur-principale);
  border-right: 2px solid var(--couleur-principale);
}
.corner:nth-child(3) {
  bottom: 0;
  left: 0;
  border-bottom: 2px solid var(--couleur-principale);
  border-left: 2px solid var(--couleur-principale);
}
.corner:nth-child(4) {
  bottom: 0;
  right: 0;
  border-bottom: 2px solid var(--couleur-principale);
  border-right: 2px solid var(--couleur-principale);
}

#carte:hover .line {
  background-color: var(--couleur-principale);
}
#carte:hover .target {
  width: 150px;
}
#carte:hover .target > .corner {
  scale: 1.5;
}

/*------------------------------item 10------------------------------*/

.item-10 /*bruit*/ {
  grid-area: 9 / 4 / 10 / 7;
}
